/* index-banner-swiper 首頁輪播 */
.index-banner-swiper {
  width: 100%;
  height: auto;
  left: 0px;
  top: 100px;
  z-index: 1;
}

.index-banner-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6c6f73;
  background-color: #fff;
  padding: 10px 22px 10px 22px;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #ffc023;
}

.mb-105 {
  margin-bottom: 105px;
}

/* TOPLINK */
.top-link {
  background-color: #f2f4f7;
  height: 40px;
  color: #6c6f73;
  font-size: 14px;
}

/* ANNOUNCEMENT */
.announcement-area {
  height: 170px;
  position: absolute;
  z-index: 5;
  width: 1200px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.announcement-title {
  padding-left: 50px;
}

.announcement-list li {
  padding: 7px;
}

.announcement-list span {
  padding: 5px;
}

.announcement-list .text:hover {
  color: #0a58ca;
}

/* SERVICE */
.service-area {
  width: 1200px;
}

.sevice-item {
  background-color: #f6f6f6;
  border: 1px solid #d9d9d9;
  padding: 20px;
  height: 367px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.sevice-item:hover {
  box-shadow: 1px 1px 15px 6px #b0b0b0;
  -webkit-box-shadow: 1px 1px 15px 6px #b0b0b0;
  -moz-box-shadow: 1px 1px 15px 6px #b0b0b0;
  -o-box-shadow: 1px 1px 15px 6px #b0b0b0;
  transition: 0.7s;
  z-index: 2;
  background-color: #fff;
}

.sevice-item h4 {
  font-size: 20px;
}

.sevice-item p {
  color: #3c3d40;
  font-size: 16px;
  line-height: 1.8em;
}

.btn-more {
  color: #ff9700;
  font-size: 15px;
}

/* DISCOUNT */
.discount-area {
  background-color: #fff3ea;
  padding: 100px 0 100px 0;
}

.nav-tabs .nav-link.active {
  background-color: #ffcc4d;
  border-color: #ffcc4d #ffcc4d#FFCC4D;
}

.nav-link {
  color: #6c6f73;
}

.nav-tabs {
  border-bottom: 1px solid #ffcc4d;
}

.nav-link:hover {
  color: #3c3d40;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background-color: #ffcc4d;
}

img.card-img-top {
  max-width: 100%;
}

.all {
  width: 95%;
  height: 380px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
}

.swiper-container {
  width: 100%;
}

.swiper-product-prev {
  position: absolute;
  left: -40px;
}

.swiper-product-next {
  position: absolute;
  right: -40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  width: 100%;
  height: 120px;
  text-align: justify;
}

.card-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

p.card-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
}

.text-muted {
  font-size: 14px;
  text-align: justify;
}

.discount-price {
  font-size: 25px;
  color: #e75000;
}

/* NEWS */
.news-area {
  height: 230px;
}

.news-title {
  height: 230px;
  margin-left: 50px;
}

.news-text a {
  color: #0a58ca;
}

.news-text:hover {
  color: #0a58ca;
}

.news-list {
  width: 780px;
  height: auto;
}

.news-list li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.news-list li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #495057;
  position: absolute;
  transform: translate(8px, 10px);
}

.news-list span {
  padding-left: 30px;
}

/* PARTER */
.parter-area {
  width: 1200px;
  height: 390px;
  background: url(../images/partner.jpg) left top no-repeat;
  position: relative;
  margin-bottom: -45px;
}

.parter-title {
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parter-title h2 {
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-shadow: 0px 0px 8px #454545;
}

.parter-bg {
  background-color: rgb(255, 255, 255, 0.6);
  position: absolute;
  z-index: 1;
}

.parter-text {
  height: 390px;
  padding: 50px 30px 50px 30px;
  text-align: justify;
  line-height: 1.8;
}
